*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    width: 40%;
    border-collapse: collapse;
    margin: 10px auto;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    /* border-radius: 10px; */
    overflow: hidden;
}
table, th, td{
    border: 1px solid black;
}
th{
    text-align:left;
    color: white;
    background-color: rgb(40, 217, 0);
}
td, th{
    padding: 5px;
}
tr:nth-of-type(odd){
    background-color: blanchedalmond;
}